# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Docker
*.log
*.pid
docker-compose.override.yml
*.env

# Operating system files
.DS_Store       # macOS
Thumbs.db       # Windows

# IDE/Editor files
.vscode/
.idea/

# Environment variable files
.env

# Logs
*.log

# npm package directories
node_modules/

# build directories
/dist
/build

# Optional, if you use Docker volumes
.docker
